# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Ambientes virtuais
venv/
env/
.venv/

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Variáveis de ambiente / credenciais
.env
*.env
